body { 
  background: #000 center/cover url('/STScI-SMACS0723_webb.png') no-repeat;
  color: #FFF8dc;
  font-family: "Lucida Console," monospace;
}

h1, p, a {
  padding-left: 10px;
  font-family: "Lucida Console", monospace;
  color: #FFF8DC;
  text-decoration: none;
}

.container { 
  display: flex;
  justify-content: center;
  }
.container div {
  padding: .5em;
  flex: 1;
  justify-content: center;
  align-items: center;
  position:relative;
}

.flex-box{ 
  display: flex;
  margin:25px;
  flex-direction: column;
  flex-wrap: wrap;
  border-color: rgb(46, 38,36);
  border-style: solid;
  border-width: 7px;
  background-color: rgb(46, 38,36, 0.7);
  background-blend-mode: exclusion;
  justify-content: center;
  position: absolute;
}
.flex-row {
   display: flex;
   flex-wrap: wrap;
   background-color: transparent;
   justify-content: center;
}

ul {
  margin:7px;
  padding: 3px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 li {
  padding-bottom: 10px;
  padding-inline-end: 10px;
  height: 40vh;
  flex-grow: 1;
 }
 img {
   max-height: 100%;
   min-width: 100%;
   object-fit: cover;
 }